[submodule "clayferg-projects"]
	path = clayferg-projects
	url = https://github.com/clayferg/clayferg-projects
[submodule "noahkrohngold-projects"]
	path = noahkrohngold-projects
	url = https://github.com/krowngold/my-portfolio.git
