body, html {
  height: 100%;
  background-color: #d3e8e1
}

* {
  box-sizing: border-box;
}
/* sticky navbar*/
.navigation {
    padding: 10px;
    background-color: #ddede8; 
    text-align:center;
    position: fixed;
  	top: 0;
  	width: 100%;
}
.navigation a{
    color: black;
    padding: 30px;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
.navigation a:hover {
    color: white;
 	text-decoration-line: underline;
  	text-decoration-style: solid;
  	text-decoration-color: white;
}

.header {
    height: 300px;
    width: 100%;
    background-image: url("/Images/header.JPG");
    background-repeat: no-repeat;
    background-size: cover;
	margin-top: 30px;
    background-position:center center;
}
.header h1{
    padding-top: 3%;
     font-family: poppins;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
  	text-align: center;
}
.header h2{
     font-family: poppins;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
  	text-align: center;
}

.header p{
    font-family: poppins;
    color: white;
    font-size: 20px;
  	text-align: center;
}

.column {
  float: left;
  width: 100%;
  margin-top: 15px;
  height: 1500px;

}
.column.left{
  width: 25%;
  padding: 20px;
  background-color: white;
  margin-left:20px;
  margin-right:15px;
  border-style: outset;
  border-color: #a7c9be;
  border-width: 5px;
  text-align: center;
  
}


.column.right{
  width: 70%;
  background-color: #d3e8e1;
}

.column h1 {
    text-align: center;
}

.profile{
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 80px;
}


/* card effect for each blog post */
.card.left {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #daeff2;
   	padding: 20px;
   	margin-top: 15px;
    
    
}
.card.right {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   background-color: white;
   padding: 20px;
   margin-top: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.blogimg{
  width: 100%;
  height: 100%;
  padding: 15px;
  height: auto;
  display: block;
}

#more {
    display: none;
    }

#readmorebtn {
  background-color: #9b95ba;
  color: white;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
#readmorebtn a:hover {
  background-color: #555;
}
