.mdl-card {
  min-height: 0;
  background: linear-gradient(black);
  justify-content: space-between;
}

#queue-card-container {
    padding-bottom: 0;
    background-color: #111;
}

#queue-card {
    background-color: #111;
    margin-top: 15px;
    bottom: 0px;
}

#bigQueueContainer {
    background-color: #111;
    display: flex;
    flex-direction: column;
}

#searchContainer {
    overflow-x: auto;
    margin-bottom: 10px;
    height: 235px;
    display: flex;
    flex-direction: row;
}

.searchInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchVideo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5%;
    padding: 1%;
    max-height: 200px;
    max-width: 200px;
    background: #414141;
    border-radius: 3pt;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#videoContainer {
    overflow-y: auto;
    margin-bottom: 10px;
    height: 28vh;
    display: flex;
    flex-direction: column;
}

#video-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    float: left;
}

#video-form .mdl-textfield {
    width: 100%;
}

#video-form .mdl-textfield__input {
    border-bottom: 1px solid rgba(158, 158, 158, .4);
}

#video-form .mdl-textfield__input:focus + label {
    color: orange;
}

#video-form .mdl-textfield__label {
    color: rgba(158, 158, 158, .4);
}

#video-form button {
    height: 40px;
    margin: 15px 0 0 10px;
    padding:8px;
    background: orange;
    color: white;
}
#video-form button .materials-icon {
    position:relative;
}

.queueVideo {
    display: flex;
    flex-direction: row;
    margin: 1.5%;
    padding: 1%;
    height: auto;
    overflow: scroll;
    max-height: 225px;
    background: #414141;
    border-radius: 3pt;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.videoThumbnail {
    height: 120px;
    width: auto;
    padding: 0.1%;
    margin-right: 2%;
    border-radius: 3pt;
}

.videoSubmit {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.25%;
}

.videoInfo {
    padding-left: 0.75%;
}

.searchTitle {
    color: white;
    font-weight: bold;
    margin: 0px 0px 4px;
    font-size: 16px;
    width: 175px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.videoTitle {
    color: white;
    font-weight: bold;
    margin: 0px 0px 4px;
    font-size: 16px;
}

.duration {
    color: white;
    background: var(--co-nr3wg, #414141);
    margin: auto;
    font: 400 14px/25.2px Roboto;
    font-style: italic;
}

.removeVideoBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin: auto;
    font-weight:bold;

}

#linkError {
    display: none;
    color: red;
}

#videoError {
    display: none;
    color: red;
}

#videoSuccess {
    display: none;
    color: greenyellow;
}