.mdl-card {
  min-height: 0;
  background: linear-gradient(black);
  justify-content: space-between;
}

#queue-card-container {
    padding-bottom: 0;
    background-color: #111;
}

#queue-card {
    background-color: #111;
    margin-top: 15px;
    bottom: 0px;
}

#bigQueueContainer {
    background-color: #111;
}

#videoContainer {
    overflow-y: auto;
    margin-bottom: 10px;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

#video-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    float: left;
}

#video-form .mdl-textfield {
    width: 100%;
}

#video-form .mdl-textfield__input {
    border-bottom: 1px solid rgba(158, 158, 158, .4);
}

#video-form .mdl-textfield__input:focus + label {
    color: orange;
}

#video-form.mdl-textfield__input + label {
    color: rgba(158, 158, 158, .4);
}

#message-form .mdl-textfield__label {
    color: rgba(158, 158, 158, .4);
}

#video-form button {
    width: 40px;
    height: 40px;
    margin: 15px 0 0 10px;
    background: orange;
}

.queueVideo {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    max-height: 150px;
    background: #414141;
    border-radius: 3pt;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.videoThumbnail {
    height: 120px;
    width: auto;
    padding: 0.1%;
    margin-right: 2%;
    border-radius: 3pt;
}

.videoSubmit {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.25%;
}

.videoInfo {
    padding-left: 0.75%;
}

.videoTitle {
    color: white;
    margin: 0px 0px 4px;
}

.duration {
    color: white;
}

#linkError {
    display: none;
    color: red;
}

#videoError {
    display: none;
    color: red;
}

#videoSuccess {
    display: none;
    color: greenyellow;
}